<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listar Autores</title>
</head>
<body>
   <h1>Autores</h1>
    {% if autores %}
      <table>
        <thead>
          <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Nacionalidad</th>
              <th>Descripcion</th>
          </tr>
        </thead>
        <tbody>
           {% for autor in autores %}
               <tr>
                   <td>{{ autor.id }}</td>
                   <td>{{ autor.nombre }}</td>
                   <td>{{ autor.apellido }}</td>
                   <td>{{ autor.nacionalidad }}</td>
                   <td>{{ autor.descripcion }}</td>
               </tr>
           {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>Lo siento no hay autores disponibles que mostrar</p>
    {% endif %}

</body>
</html>